<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ilhamfidatama.moviecatalog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".FavoriteMovieWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_movie_widget_info" />
        </receiver>

        <service android:name=".adapter.FavMovieWidgetAdapter"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/reminder_setting"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ilhamfidatama.moviecatalog.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DescriptionMovieActivity" />
        <activity android:name=".DescriptionTVShowActivity" />
        <activity android:name=".DescriptionFavMovieActivity" />
        <activity android:name=".DescriptionFavTVActivity" />

        <meta-data
            android:name="DATABASE"
            android:value="movieCatalog.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.ilhamfidatama" />

        <receiver
            android:name=".receivers.NotifReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>